.footer1 {
    background-color: black;
    height: 600px;
    color: white;
    font-size: 20px;
}
.footer-link {
    font-size: 20px;
    padding-bottom: 10px;
}
.button-style {
    font-weight: bold;
    height: 80px;
    width: 150px;
    border-radius: 10px;
    font-size: 20px;
    background-color: black;
    color: skyblue;
    border-color: skyblue;
    margin-left: 700px;
    margin-top: 10px;
    border-width: 4px;
    
}

.logo-style {
    margin-left: 30px;
}
.footerImg {
    margin-top: 30px;
}