<img src="../../assets/img/who-we-are-bnr.jpg" height="500px" width="100%">
<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
      <h1>Open Positions(7)</h1>
      <div class="card careersCard">
        <div class="card-header">
          Front End Developer<span class="badge text-bg-secondary badgeHeader">7848</span><span class="badge text-bg-secondary badgeHeader moveDate">24 August 2023</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Key Responsibilities</h5>
          <div class="card-text">
            <ul>
              <li>Collaborate with UX Designers, offering feedback and suggesting enhancements for improved customer
                experience.</li>
              <li>Work closely with Back-End Developers to design and implement API integrations.</li>
              <li>Develop and implement unit and integration tests.</li>
              <li>Create automation tools to streamline daily tasks.</li>
              <li>Ensure applications deliver optimal performance and user-friendliness.</li>
              <li>Apply coding standards and conduct tests across various platforms.</li>
              <li>Participate in strategic meetings with stakeholders and end-users to identify challenges and gather
                business requirements.</li>
              <li>Provide support and guidance to fellow front-end developers.</li>
              <li>Maintain proficiency in programming languages like JavaScript, HTML, and CSS.</li>
              <li>Utilize expertise in React and AngularJS for efficient development.</li>
              <li>Collaborate within an Agile product team to deliver innovative solutions.</li>
              <li>Demonstrate English proficiency for effective communication.</li>
            </ul>
          </div>
         
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

      <div class="card careersCard">
        <div class="card-header">
          Angular Developer <span class="badge text-bg-secondary badgeHeader">7849</span><span class="badge text-bg-secondary badgeHeader  moveDate">24 August 2023</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Key Responsibilities</h5>
          <div class="card-text">
            <ul>
            <li> Code, test and debug best in class software programs on the MS .NET Platform, which includes front-end,
            middle-tier and back-end applications and services</li>
            <li>Provide input into the architecture and design of software solutions</li>
            <li> Support the development of estimates</li>
            <li>Active involvement in all phases of software development life cycle including analysis, design,
            development, testing and support</li>
            <li> Maintain accurate and up to date documentation of code and its changes</li>
            <li>Provide assistance to junior developers</li>
            <li> Take ownership of the quality and timeliness of deliveries</li>
            <li>Adhere to Software Development policies and guidelines</li>

            What’s in it for you?
            <li> Be part of a highly agile and adaptive global team of top talents.</li>
            <li> Work on challenging projects and develop solutions for clients from USA, UK and APAC.</li>
            <li> Work on a variety of technologies and domains like Adtech, Fintech, Blockchain, eCommerce, BI,
            Serverless and Cloud computing.</li>
            <li> Don’t get lost in the crowd. Make a difference by contributing and adding value to all phases of the
            development lifecycle. Participate in key decisions and share your ideas for change.</li>
            <li> Be recognized. With high transparency and visibility, your career progression will be a direct result of
            efforts and capabilities</li>
            <li>Immense potential to upskill and innovate</li>
            <li> A flexible work environment leading to a healthy work life balance</li>
            </ul>
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

      <div class="card careersCard">
        <div class="card-header">
          Node Js Angular Developer<span class="badge text-bg-secondary badgeHeader">7850</span><span class="badge text-bg-secondary badgeHeader  moveDate">24 August 2023</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Key Responsibilities</h5>
          <div class="card-text">
            <ul>
            Responsibilities:
           <li> Understand the end-to-end flow across applications at a business level</li>
            <li>Ensure the reliability, availability, and performance of applications in production</li>
            <li>Automate repetitive tasks and resolution of systematic issues</li>
           <li> Identify and deliver green-field engineering solutions for issues based on root cause analyses
            Own incident management and drive tactical and strategic solutions</li>
            <li>Work cross teams: operations, traders and developers to resolve problems, share knowledge and best practices
              and set standards.</li>


            Qualifications:


            Excellent written and verbal communication skills and a passion for solving problems
            Strong background in computer science fundamentals, data structures, algorithms, distributed systems
            Fully proficient in at least one modern structured programming language (Python preferred)
            Comfortable with a range of current software development tools and practices (testing, source control, build
            systems, CI/CD, etc.)
            Experience with SQL and databases is a strong plus.
            Strong entrepreneurial spirit and the ability to adapt to changing requirements and technologies
            A passion for learning and inventing new approaches to hard problems
            What We Offer

            As a growing firm with a tightly-knit team, we respect and listen to all our employees. You will get the
            chance to make an impact by having your voice heard by everyone, including the management. Our employees
            enjoy a high level of autonomy at work. We focus on substance, not form -as long as you can perform, you
            will be recognized and rewarded.

            <li>Working hours: 9am to 6pm –Mon to Fri</li>

            <li>13th month salary</li>

            <li>Full salary in probation time.</li>

            <li>Governmental insurances based on labour law (afterprobation)</li>

            <li>Training trip to head office in Singapore.</li>

            <li>15 days of annual leave apart from national holidays by law</li>

            <li>Childcare leave: o2 days of childcare leave a year (With Grasshopper for at least 3 continuous months)o6
              days of paid childcare leave per year, regardless of the number of children you have (With Grasshopper for
              at least 1 year). oOnly be applicable for employees with children below 7 years old.
             </li>

             <li>Marriage Leave</li>

             <li>Maternity/Paternity leave: based on Labour law</li>

             <li>Out-patient and hospitalisation healthand maternity insurance package (applicable also to spouse and/or
              children where required–Gold package)</li>

             <li>Annual dental care package (applicable also to spouse and/or children where required).</li>

             <li>Annual health check.</li>

             <li>Working equipment provided (laptop, extra monitor, etc)</li>

            <li>Motorcycle parking fee allowance</li>

             <li>Casual dress code</li>

            <li>Flexible work time arrangement where applicable</li>

            <li>Team building activities, happy-hour, weekly breakfast, etc.</li>

            <li>An employee will be granted aReferral Bonusof VND 10,000,000 for every referral who is hired and completes
              12 months of employment.</li>

            <li>Opportunity to work with talented colleagues to improve your knowledge. Professional & English speaking
              working environment and more...</li>

            

            </ul>
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

      <div class="card careersCard">
        <div class="card-header">
          AWS<span class="badge text-bg-secondary badgeHeader">7851</span><span class="badge text-bg-secondary badgeHeader  moveDate">24 August 2023</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Key Responsibilities</h5>
          <div class="card-text">
            <ul>
            Skills and Knowledge Requirements
            As a Production Support engineer, you should be able to:

            <li>Take initiative in investigating infrastructure/application issues on a live production system
              independently</li>
            <li>Experience with linux</li>
            <li>Deal with a global infrastructure setup with over 200 servers.</li>
            <li>Have developed automation scripts</li>

            It will be highly useful if you have prior experience in the following technologies:
            Configuration management tools like Puppet/Chef/Ansibleo
            Monitoring tools like Nagios/ Icinga / Sensuo
            Graphite/ influx DBo
            Python/Ruby/Shell scriptingo
            CentOS/RHEL/fedorao
            CI tools like Jenkins, Gitlab CI.o
            Public cloud providers like Google cloud, AWS, Azure.
            As a DevOps/Linux engineer, you should be able to:

            <li>Take initiative in investigating infrastructure/application issues on a live production system
              independently</li>

            <li>Deal with a global infrastructure setup with over 200 servers.</li>

            <li>Handle cutting edge low latency hardware</li>

            <li>Comfortable developing in Python</li>

            It will be highly useful if you have prior experience in the following technologies:

           <li> Configuration management tools like Puppet/Chef/Ansible/Salt</li>

            <li>Monitoring tools like Prometheus/ InfluxDB</li>

            <li>Python/Golang/Shell scripting oCentOS/RHEL/fedora</li>

            <li> CI tools like Jenkins, Gitlab CI</li>

            What We Offer: Joining company means embracing exciting opportunities and a supportive work environment:

            Challenging Work Environment: Engage in cutting-edge technology and complex projects that push the
            boundaries of software development.
            Learn About Algorithmic Trading and Finance: Gain insights into financial markets and the intersection of
            technology and trading strategies.
            Exposure to Major Financial Exchanges in Asia: Work directly with leading exchanges, experiencing the
            diverse and dynamic market landscape.
            Room to Grow Along with Grasshopper: Advance your career as you contribute to the continued success of our
            company.
            Access to Senior Developers and Traders: Learn from experienced professionals, fostering mentorship
            opportunities and personal growth.
            21 days annual leave
            Outpatient/Inpatient Insurance Coverage; can be extended to immediate family members if required, no
            co-payment required.
            Annual Dental & Wellness budget
            Gym membership
            At company, we provide a supportive and inspiring environment where you can excel, contributing to our
            collective success. Join our team to unleash your potential in a challenging and rewarding career.
          </ul>
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

      <div class="card careersCard">
        <div class="card-header">
          Technical architects<span class="badge text-bg-secondary badgeHeader">7852</span><span class="badge text-bg-secondary badgeHeader  moveDate">24 August 2023</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

      <div class="card careersCard">
        <div class="card-header">
          Team Lead <span class="badge text-bg-secondary badgeHeader">7853</span><span class="badge text-bg-secondary badgeHeader  moveDate">24 August 2023</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Key Responsibilities</h5>
          <div class="card-text">
            <ul>

            <li> Develop a test plan for existing and upcoming features and products.</li>
            <li> Perform product testing and communicate results to key stakeholders.</li>
            <li>Work closely with the development and product teams to ensure smooth and timely releases</li>
            <li>Work in collaboration with developers to identify and solve bugs.</li>
            <li> Set up build automation and other automated testing methods (e.g. load testing, e2e testing, unit testing,
              integration testing).</li>
            <li> Own quality testing before each release.</li>
            <li>Work closely with our support and customer success team to deploy releases to customers.</li>
            <li> Own tier 3 tech support to troubleshoot issues in the field and guide technical support teams.</li>
            <li> Actively contribute to setting up good company quality processes and goals within the company.</li>
            <li> Grow the QA team by mentoring existing team members and recruiting new members as we scale up.</li>
            <li> Work with our engineering and product team to develop test plans, validate test fixtures and oversee all
              quality processes.</li>
            <li>Diagnose functional issues, report bugs, and take ownership of issue resolution.
              Key Requirement</li>

             <li> Being proactive and able to work independently.</li>
             <li>Excellent written and verbal communication skills.</li>
             <li> Experience working in an Agile/Scrum development process</li>
             <li>Solid in-depth knowledge of Quality Assurance principles and methodology, as well as knowledge of
              object-oriented design principles.</li>
            <li>Knowledge of modern best practices for professional software development including coding standards, code
              reviews, source control management, build processes, testing, and operations.</li>
            <li>Strong organizational and problem-solving skills with great attention to detail, including the ability to
              track multiple test executions simultaneously and synthesize the results.</li>
             <li>Experience in Javascript and Cypress</li>
            <li>Experience with test frameworks (e.g. Selenium, Robot)</li>
            <li>Experience with load testing and knowledge of load testing tools like Jmeter would be a plus.</li>

            Open to All nationalities
            What you'll get:

           <li> A competitive salary and many new opportunities</li>
           <li> More responsibilities and greater recognition for the work you do</li>
           <li> The opportunity to be a part of a lively and international development team</li>
            <li>A pioneering mindset shaped by a challenging and innovative work environment</li>

            APPLY NOW,

            SHARE THIS POST.
            </ul>
            </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

      <div class="card careersCard">
        <div class="card-header">
          Human resource<span class="badge text-bg-secondary badgeHeader">7854</span><span class="badge text-bg-secondary badgeHeader  moveDate">24 August 2023</span>
        </div>
        <div class="card-body">
          <h5 class="card-title">Key Responsibilities</h5>
          <div class="card-text">
            <ul>
            
            Introduction:

            We are looking for a high quality candidate to join our critical project. The role requires someone with
            extensive business knowledge, analytical and relationship skills, strategic mindset and programme management
            discipline to help drive the build-out of the function as well as support the broader department and
            organisation objectives.

            This is a challenging role requiring the successful individual to partner, coordinate and drives progress
            across global teams and different business areas as well as partner closely with key stakeholders and
            colleagues around the firm. This also presents an excellent opportunity to join a market leading
            organisation and business area and play an active part in driving the long-term development of the function
            in an area that is key to the future success of the financial services sector and at the heart of industry
            development and regulatory focus.


            What we’re looking for:

            <li> 6-11 years of experience.</li>
            <li>Ability to design, build, test and debug analytical solutions based on the requirements using Qlikview.</li>
            <li>Analyze data sources and processes to design optimal data model in Qlikview.</li>
            <li>Design and develop high performance dashboards with optimal queries and set analysis.</li>
            <li> Expertise in using advanced set analysis.</li>
            <li> Collaborate with the team and able to implement reports security and section access.</li>
            <li>Strong experience in performance tuning.</li>
            <li>Should be able to convert all business logics into transformation logic in Qlikview.</li>
            <li> Experience in handling large data sets.</li>
            <li> Excellent data analysis and UI presentation skills</li>
            Being @ 4UTechX
            </ul>
          </div>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>


    </div>
  </div>
</div>
<app-footer></app-footer>