<div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <h1>Open Positions(471)</h1>
            <!-- <div class="row">
            <div class="hstack gap-3">
                <div class="p-2"><h3>React Native Developer</h3></div>
                <div class="p-2 ms-auto">August 23</div>
                <div class="vr"></div>
                <div class="p-2">463</div>
              </div>
        <div class="positions">
            <div>Other area(s)</div>
            Job Summary:
            Building performant and beautiful mobile apps on both the iOS and Android platforms using the React Native framework.
        </div>
    </div> -->
    <div class="card careersCard">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

      <div class="card careersCard">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>

      <div class="card careersCard">
        <div class="card-header">
          Featured
        </div>
        <div class="card-body">
          <h5 class="card-title">Special title treatment</h5>
          <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
          <!-- <a href="#" class="btn btn-primary">Go somewhere</a> -->
        </div>
      </div>
        </div>
    </div>
</div>
<app-footer></app-footer>