<ul class="nav justify-content-center">
 <li>
 <img class="img-style" src ="../../assets/img/diamondTechX.png" height="70px" width="70px"> 
 </li>
 <li class="nav-item">
  <a class="nav-link" aria-current="page" href="#">4UTechX</a>
 </li>
  <li class="nav-item">
    <a class="nav-link" aria-current="page" href="#">Our Offerings</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">RPA</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/aboutus">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-disabled="true">The 4UTechX Advantage</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-disabled="true">Careers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contactus" aria-disabled="true">Contact Us</a>
  </li>
</ul>
