<ul class="nav justify-content-center">
 <li>
 <img class="img-style" src ="../../assets/img/diamondTechX.png" height="70px" width="70px"> 
 </li>
 <li class="nav-item1">
  <a class="nav-link1" href="#">4UTechX<p class="nav-link2">SOFTWARE FOR YOU</p></a>
 </li>
  <li class="nav-item">
    <a class="nav-link" href="/aboutus">About Us</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" aria-disabled="true">Careers</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="/contactus" aria-disabled="true">Contact Us</a>
  </li>
</ul>
