.nav {
  background-color: black;
  padding: 30px;
  font-size: 20px;
  height: 100px;
}

.nav-link {
   color: white;
   font-size: 20px;
   
  }
.nav-link1 {
    color: white;
    font-size: 25px;
    font-weight: bold;
 }
.nav-link2 {
  font-size: 15px;
 }

 .nav-item1 {
  padding-right: 80px;
 }
.img-style {
   margin-top:-10px;
   padding-right:10px;

}
