<div class="myNav">
    <div class="container">
	      <div class="row">
	          <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
		          <ul class="nav justify-content-left">
                 <li>
                   <img class="imgStyle" src ="../../assets/img/diamondTechX.png" height="70px" width="70px"> 
                   <a class="nav-link1" href="#">4UTechX<span class="nav-link2">SOFTWARE FOR YOU</span></a>
                 </li>
              </ul>
            </div>

	          <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 navDesc">
                 <a class="nav-link" href="/aboutus">About Us</a>
	          </div>

            <div class="col-sm-1 col-md-1 col-lg-1 col-xl-1 navDesc">
                 <a class="nav-link"  href="/carrers" aria-disabled="true">Careers</a>
	          </div>

            <div class="col-sm-2 col-md-2 col-lg-2 col-xl-2 navDesc">
                <a class="nav-link" href="/contactus" aria-disabled="true">Contact Us</a>
	          </div>

	       </div>
     </div>
</div>
