<ngb-carousel *ngIf="images">
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[0]" alt="Random first slide" width="100%" height="800px"/>
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[1]" alt="Random second slide" width="100%" height="800px" />
		</div>
	</ng-template>
	<ng-template ngbSlide>
		<div class="picsum-img-wrapper">
			<img [src]="images[2]" alt="Random third slide" width="100%" height="800px" />
		</div>
	
	</ng-template>
</ngb-carousel>

<div class="line1">We offer solutions that enable you to find the right talent, eliminate skills gaps in your organization, provide a development infrastructure  and help
<p class="line2">drive your business forward.</p></div>

<h1 class="heading1"><u>The</u> 4UTechX Advantage</h1>


<div class="container">
	<div class="row">
	  <div class="col-sm-8 boxPro">
		<p>An efficient hiring and staffing process, ready access to a vast database of talent, custom-built Centres of Excellence (CoE) and secure state-of-the-art infrastructure that complies with our clients’ standards gives Helius a definite advantage over its competitors.</p>

        <p class="line3">Also, our agility in responding quickly to client needs, flexibility in terms of adapting to fast-changing technological landscapes and our transparency towards our clients and employees help deliver effective and disruptive solutions to our clients’ unique business goals.</p>
	  </div>
	 
	  <div class="col-sm-2 boxPro2">
		<img src="../../assets/img/logo6.png" width="500" height="400">
	  </div>
	</div>
</div>

<button type="button" class="btn1">Know More</button>

<div class="card1"><u>Our Offerings</u>
  <div>
	<div class="card-group">
		<div class="card">
		  <img class="card-img-top" src="../../assets/img/staffingService.png" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">Staffing Services</h5>
			<p class="card-text">Our proven track record of hiring and staffing can help you find the right people with the right skill to fulfill your company’s unique needs.</p>
		  </div>
		  <button type="button" class="btn2">Know More</button>
		</div>
		<div class="card">
		  <img class="card-img-top" src="../../assets/img/centerOfExcelence.png" alt="Card image cap" height="300px">
		  <div class="card-body">
			<h5 class="card-title">Centres of Excellence</h5>
			<p class="card-text">Our expertise in creating Centres of Excellence can help bridge the skills gaps in your company and take it to the next level.</p>
		  </div>
		  <button type="button" class="btn2">Know More</button>
		</div>
		<div class="card">
		  <img class="card-img-top" src="../../assets/img/talent.png" alt="Card image cap">
		  <div class="card-body">
			<h5 class="card-title">Talent & Infrastructure on Cloud</h5>
			<p class="card-text">Our indigenous TI Cloud offering can help you provide the talent and infrastructure for your company thus lowering your onsite costs.</p>
		  </div>
		    <button type="button" class="btn2">Know More</button>
		</div>
	  </div>
  </div>
</div>

<div class="box1">
  <h1 class="box2"><u>4UTechX at a Glance</u></h1>
    <div class="container">
		<div class="row">
			<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col1">3000+
                    <p class="col2">hired employees across
						150+ technical skills</p>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col1"> 500+
				   <p class="col2">assignments
					completed</p>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col1"> 80%
				  <p class="col2">employees in
					ASEAN countries</p>
			</div>
			<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 col1"> 100+
				  <p class="col2">educational institutions
					across ASEAN tapped for
					resources</p>
			</div>
		</div>

	</div>
	
</div>

<div>
	<h1 class="head1">The <u>TechnoPro</u> Connection</h1>
	<p class="head2">In March 2018, Technopro Inc. which is Japan’s leading staffing services company acquired a majority stake in Helius. The partnership is designed to assist Helius to </p>
	<p class="head3">further accelerate its organic growth in the ASEAN region and help Japanese companies acquire talent and deliver staffing solutions across verticals for their </p>
	<p class="head4">businesses in the ASEAN region, aligned with their business strategy.</p>
	<button type="button" class="btn3">Know More</button>
</div>

<h1 class="box3">Our <u>Clients</u></h1>
<div class="container">
	<div class="row">
		<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
				<img src="../../assets/img/ibmpic.png" width="150px">
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
			   <img src="../../assets/img/capgepic.png" width="300px">
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3"> 
			  <img src="../../assets/img/mufg.png" width="200">	
		</div>
		<div class="col-sm-3 col-md-3 col-lg-3 col-xl-3">
			  <img src="../../assets/img/autopic.png" width="200px">
		</div>
	  <button type="button" class="btn4">SHOW MORE CLIENTS</button>
	</div>
</div>
	
<app-footer></app-footer>