<img src="../../assets/img/contact us image.jpg" height="500px" width="100%">
<div class="ourVision">
  <h3> <span>4UTechX</span>&nbsp;&nbsp;
    <span>|</span>&nbsp;&nbsp;
    <span>Contact us</span>&nbsp;&nbsp;
    <span>|</span>&nbsp;&nbsp;
    <span>Our Vision</span>&nbsp;&nbsp;
  </h3>
</div><br><br><br>
<!-- <div class="address">
<h1><u><b>Our Offices</b></u></h1><br><br>

<div class="Hyderabad"><h3><u>Hyderabad</u></h3><br><br>
   <div class=" changeColor"><h4><b>4UTechX Technologies Pte Ltd</b></h4><br>
    36, Robinson Road, #13-05, City House, Singapore 068876.</div> 

</div>

</div> -->
<div class="container">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <h1><u><b>Our Offices</b></u></h1><br><br>
      <div class="address">
        <div class="cityHeader">Hyderabad</div>
        <div class="brandTitle">4UTechX Technologies Pte Ltd</div>
        <div class="addressTitle">36, Robinson Road, #13-05, City House, Singapore 068876.</div>
      </div>
      <div class="address">
        <div class="cityHeader">Banglore</div>
        <div class="brandTitle">4UTechX Technologies Pte Ltd</div>
        <div class="addressTitle">42, Electronics market, #13-02, City House, Banglore 720012.</div>
      </div>
      <div class="address">
        <div class="cityHeader">Pune</div>
        <div class="brandTitle">4UTechX Technologies Pte Ltd</div>
        <div class="addressTitle">97, Canning Road, #13-05,Pune 459836.</div>
      </div>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      <h1>How can we help?</h1>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="contactHeading">First Name</div>
            <input type="text" id="firstName" class="contentInput">
            
            <div class="contactHeading">Company</div>
            <input type="text" id="company" class="contentInput">
          
           <div class="contactHeading">Email address</div>
            <input type="email" class="contentInput" id="email" placeholder="name@example.com">

          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">

           <div class="contactHeading">Last Name</div>
            <input type="text"  id="lastName" class="contentInput">
            <div class="contactHeading">Title</div>
            <input type="text"  id="title" class="contentInput">
            <div class="contactHeading">Phone number(optional)</div>
            <input type="text"  id="phone" class="contentInput">

          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="contactHeading">Tell Us What You Need Our Help On</div>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"></textarea>
          </div>
        </div>

        <div class="row btnClass">
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
          <label class="btn btn-primary" for="btn-check-2">Submit</label>
          </div>
        </div>
      </div>

      
    </div>
  </div>
</div>
<app-footer></app-footer>