.ourVision{
    font-size: 20px !important;
    line-height: 30px !important;
    font-weight: 500 !important;
    font-family: 'Maven Pro' !important;
    color: #666 !important;
    margin-left: 3%;
}

.cityHeader{
    color:red;
    font-size: 30px;
    font-weight: 100px !important;
    font-style: normal;
}
.brandTitle{
    color:black;
    font-size: 15px;
    font-weight: 100px !important;
    font-style: normal;
}
.contactHeading{
    color:rgb(19, 5, 5);
    font-size: 20px;
    padding-top: 15px;
}
.contentInput{
    width:300px;
}
.btnClass{
  padding-top: 20px;
  padding-bottom: 20px;
}