<img src="../../assets/img/contact us image.jpg" height="500px" width="100%">
<span class="ourVision">4UTechX &nbsp; | &nbsp; Contact Us &nbsp; | &nbsp; Our Vision</span>
<!-- <div class="address">
<h1><u><b>Our Offices</b></u></h1><br><br>

<div class="Hyderabad"><h3><u>Hyderabad</u></h3><br><br>
   <div class=" changeColor"><h4><b>4UTechX Technologies Pte Ltd</b></h4><br>
    36, Robinson Road, #13-05, City House, Singapore 068876.</div> 

</div>

</div> -->
<div class="container DivWidth">
  <div class="row">
    <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
      <h1 class="Ouroffice"><u>Our</u> Offices</h1>
      <div>
        <div class="cityHeader">Hyderabad</div>
        <div class="brandTitle">4UTechX Technologies Pte Ltd</div>
        <div class="addressTitle">36, Robinson Road, #13-05, City House, Singapore 068876.</div>
        <button type="button" class="contactBtn">View On Google Map</button>
      </div>
      <div class="address">
        <div class="cityHeader">Banglore</div>
        <div class="brandTitle">4UTechX Technologies Pte Ltd</div>
        <div class="addressTitle">42, Electronics market, #13-02, City House, Banglore 720012.</div>
        <button type="button" class="contactBtn">View On Google Map</button>
      </div>
      <div class="address">
        <div class="cityHeader">Pune</div>
        <div class="brandTitle">4UTechX Technologies Pte Ltd</div>
        <div class="addressTitle">97, Canning Road, #13-05,Pune 459836.</div>
        <button type="button" class="contactBtn">View On Google Map</button>
      </div>
      <div class="address">
        <div class="cityHeader">Kolkata</div>
        <div class="brandTitle">4UTechX Technologies Pte Ltd</div>
        <div class="addressTitle">65, Salt Lake, #13-05,Kolkata 4556436.</div>
        <button type="button" class="contactBtn">View On Google Map</button>
      </div>
    </div>
    <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
      <h1 class="canHelp"><u>How can</u> we help?</h1>
      <div class="container">
        <div class="row">
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">
            <div class="contactHeading">First Name</div>
            <input type="text" [(ngModel)]="firstname" id="firstName" class="contentInput">
            
            <div class="contactHeading">Company</div>
            <input type="text" [(ngModel)]="company" id="company" class="contentInput">
          
           <div class="contactHeading">Email address</div>
            <input type="email" [(ngModel)]="email" class="contentInput" id="email" placeholder="name@example.com">

          </div>
          <div class="col-sm-6 col-md-6 col-lg-6 col-xl-6">

           <div class="contactHeading">Last Name</div>
            <input type="text" [(ngModel)]="lastname" id="lastName" class="contentInput">

            <div class="contactHeading">Title</div>
            <input type="text" [(ngModel)]="title" id="title" class="contentInput">

            <div class="contactHeading">Phone number(optional)</div>
            <input type="text" [(ngModel)]="phoneNum" id="phone" class="contentInput">

          </div>
        </div>

        <div class="row">
          <div class="col-sm-12 col-md-12 col-lg-12 col-xl-12">
            <div class="contactHeading">Tell Us What You Need Our Help On</div>
            <textarea class="form-control" id="exampleFormControlTextarea1" rows="5"  [(ngModel)]="needHelp"></textarea>
          </div>
        </div>

        <button type="button" class="FormBtn" (click)="myFunc()">SUBMIT</button>
        <!-- <div class="row btnClass">
          <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4">
          <input type="checkbox" class="btn-check" id="btn-check-2" checked autocomplete="off">
          <label class="btn btn-primary" for="btn-check-2">Submit</label>
          </div>
        </div> -->
      </div> 

      
    </div>
  </div>
</div>
<app-footer></app-footer>