
<img src="../../assets/img/contact us image.jpg" height="500px" width="100%">
<div class="ourVision">
   <h3> <span>4UTechX</span>&nbsp;&nbsp;
    <span>|</span>&nbsp;&nbsp;
    <span>Contact us</span>&nbsp;&nbsp;
    <span>|</span>&nbsp;&nbsp;
    <span>Our Vision</span>&nbsp;&nbsp;
</h3>
</div><br><br><br>
<!-- <div class="address">
<h1><u><b>Our Offices</b></u></h1><br><br>

<div class="Hyderabad"><h3><u>Hyderabad</u></h3><br><br>
   <div class=" changeColor"><h4><b>4UTechX Technologies Pte Ltd</b></h4><br>
    36, Robinson Road, #13-05, City House, Singapore 068876.</div> 

</div>

</div> -->
<div class="container">
    <div class="row">
      <div class="col col-md-4 col-lg-4">
        <h1><u><b>Our Offices</b></u></h1><br><br>
    <div class="address">
        <div class="cityHeader">Hyderabad</div>
        <div class="brandTitle">4UTechX Technologies Pte Ltd</div>
        <div class="addressTitle">36, Robinson Road, #13-05, City House, Singapore 068876.</div>
    </div> 

      <div class="address">
        <div class="cityHeader">Hyderabad</div>
        <div class="brandTitle">4UTechX Technologies Pte Ltd</div>
        <div class="addressTitle">36, Robinson Road, #13-05, City House, Singapore 068876.</div>
       </div> 
     </div>
      <div class="col col-lg-8 col-lg-8">
        <h1>How can we help?</h1>
      </div>
    </div>
  </div>
<app-footer></app-footer>
