<img class="img1" src="../../assets/img/tech-benefits.jpg">
<span class="belowImg">4UTechX &nbsp; | &nbsp; Who We Are</span>


<div class="container">
	<div class="row">
	  <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 weAre">
		<p>WHO <u>WE</u> ARE</p>
	  </div>
	 
	  <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8 weAreDesc">
		<p class="Para1">We provide solutions that propel your business into the future. Our efficient hiring and staffing process, custom-built Centres of Excellence and secure ready-to-use development infrastructure help you in your transformation journey.</p>

        <p class="Para2"> Our mission is to enable companies like you to leverage our skills in people relations, infrastructure management and process planning, execution and management, to achieve your long-term business goals. With a rich resource pool of business architects, technologists, people managers and infrastructure managers, 4UTechX  excels in driving results for our clients and partners.</p>
	  </div>
	</div>

	<div class="row ourTeamDesc">
	   <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 weAre">
		  <p><u>OUR</u> TEAM</p>
	   </div>
	 
	   <div class="col-sm-9 col-md-9 col-lg-9 col-xl-9">
		<div class="container">
			<div class="row">
			  <div  class="col-sm-4 col-md-4 col-lg-4 col-xl-4 imgDesc">
				<img src="../../assets/img/wazidImg.jpeg" height="200px" width="200px">
				<h3 class="imgName">Wazid Ansari</h3>
				<h5 class="aboutImg">Founder Of 4UTechX</h5>
			  </div>

			  <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 imgDesc">
				<img src="../../assets/img/wahid2Img.jpeg" height="200px" width="200px">
				  <h3 class="imgName">Wahid Ansari</h3>
				  <h5 class="aboutImg">Application Developer</h5>
			  </div>

              <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 shammaDesc">
				<img src="../../assets/img/shammaImg.jpeg" height="200px" width="200px">
				  <h3 class="imgshamma">Shamma Parween</h3>
				  <h5 class="aboutshamma">Application Developer</h5>
              </div>

			</div>
		</div>
	  </div>
	</div>
</div>

<div class="divStyle">
	<h1 class="coreVal">Our <u>Core</u>Value</h1>
	<p class="paraVal">The principles that enable us to provide effective solutions to our clients.</p>
    
    <div class="container">
		<div class="row">
	      <div  class="col-sm-4 col-md-4 col-lg-4 col-xl-4 imgDesc">
		    <img src="../../assets/img/agility.png">
			 <h3 class="topStyle topStyle1">Agility</h3>
			 <p class="corePara">Our highly responsive approach enables us to</p>
			 <p class="corePara">meet clients’ constant needs and challenges. </p>
			 <p class="corePara corePara1">Our rapid rollout and flexible staffing solutions</p>
			 <p class="corePara">coupled with swift processing of work permits </p>
			 <p class="corePara">ensures quick onboarding of talent for our clients.</p>
		   </div>
		 
	      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 imgDesc">
            <img src="../../assets/img/flexbility.png">
			  <h3 class="topStyle">Flexbility</h3>
			 <p class="corePara">Our ability to adapt quickly to the ever-changing </p>
			 <p class="corePara flexPara1 ">technological landscape helps our clients to</p>
			 <p class="corePara flexPara2">transform their businesses and stay ahead of </p>
			 <p class="corePara flexPara3">their competition. </p>
			 <p class="corePara corePara1">We are also willing to take financial risks in close coordination with the client if the outcome is favourable for their business. </p>
			
	      </div>

	     <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 imgDesc">
		   <img src="../../assets/img/transparency.png ">
			  <h3 class="topStyle">Transparency</h3>
			  <p class="corePara flexPara1">We believe in being completely transparent</p>
			  <p class="corePara flexPara1">with clients and employees at all times.</p>
			  <p class="corePara corePara1 flexPara1">Our clients are assured of full visibility of status through regular updates and upfront, forthright reporting. </p>
	     </div>
	 </div>
  </div>
</div>
<app-footer></app-footer>