<img class="img1" src="../../assets/img/weAre2.png">
<span class="belowImg">4UTechX &nbsp; | &nbsp; Who We Are</span>

<div class="container">
	<div class="row">
	  <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 weAre">
		<p>WHO WE &nbsp;&nbsp;&nbsp;<u>ARE</u></p>
	  </div>
	 
	  <div class="col-sm-8 weAreDesc">
		<p class="Para1">We provide solutions that propel your business into the future. Our efficient hiring and staffing process, custom-built Centres of Excellence and secure ready-to-use development infrastructure help you in your transformation journey.</p>

        <p class="Para2"> Our mission is to enable companies like you to leverage our skills in people relations, infrastructure management and process planning, execution and management, to achieve your long-term business goals. With a rich resource pool of business architects, technologists, people managers and infrastructure managers, Helius excels in driving results for our clients and partners.</p>
	  </div>
	</div>

	<div class="row ourTeamDesc">
	   <div class="col-sm-3 col-md-3 col-lg-3 col-xl-3 weAre">
		  <p><u>OUR TEAM</u></p>
	   </div>
	 
	   <div class="col-sm-8 col-md-8 col-lg-8 col-xl-8">
	
		   <img src="../../assets/img/staffingService.png" height="200px" width="200px" class="imgClass">
			 
           <img src="../../assets/img/talent.png" height="200px" width="300px" class="imgClass1">
		
           <img src="../../assets/img/centerOfExcelence.png" height="200px" width="300px" class="imgClass1">
			
		 </div>
	</div>
</div>

<div class="divStyle">
	<h1 class="coreVal">Our <u>Core</u>Value</h1>
	<p class="paraVal">The principles that enable us to provide effective solutions to our clients.</p>
    
    <div class="container">
		<div class="row">
	      <div  class="col-sm-4 col-md-4 col-lg-4 col-xl-4 imgDesc">
		    <img src="../../assets/img/agility.png">
			 <h3 class="topStyle topStyle1">Agility</h3>
			 <p class="corePara">Our highly responsive approach enables us to</p>
			 <p class="corePara">meet clients’ constant needs and challenges. </p>
			 <p class="corePara corePara1">Our rapid rollout and flexible staffing solutions</p>
			 <p class="corePara">coupled with swift processing of work permits </p>
			 <p class="corePara">ensures quick onboarding of talent for our clients.</p>
		   </div>
		 
	      <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 imgDesc">
            <img src="../../assets/img/flexbility.png">
			  <h3 class="topStyle">Flexbility</h3>
			 <p class="corePara">Our ability to adapt quickly to the ever-changing </p>
			 <p class="corePara flexPara1 ">technological landscape helps our clients to</p>
			 <p class="corePara flexPara2">transform their businesses and stay ahead of </p>
			 <p class="corePara flexPara3">their competition. </p>
			 <p class="corePara corePara1">We are also willing to take financial risks in close coordination with the client if the outcome is favourable for their business. </p>
			
	      </div>

	     <div class="col-sm-4 col-md-4 col-lg-4 col-xl-4 imgDesc">
		   <img src="../../assets/img/transparency.png ">
			  <h3 class="topStyle">Transparency</h3>
			  <p class="corePara flexPara1">We believe in being completely transparent</p>
			  <p class="corePara flexPara1">with clients and employees at all times.</p>
			  <p class="corePara corePara1 flexPara1">Our clients are assured of full visibility of status through regular updates and upfront, forthright reporting. </p>
	     </div>
	 </div>
  </div>
</div>
<app-footer></app-footer>